img {
  border: solid #919191;
  border-radius: 100px;
  box-shadow: 3px 7px 7px #888;
  display: block;
  margin: 0 auto 0 auto;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #616161;
}

a:hover {
  color: black;
}

h1 {
  margin-bottom: -30px;
  padding: 10px 5px 10px 5px;
  color: black;
  text-align: center;
  font-size: 30px;
}

h2 {
  padding: 5px;
  margin-bottom: -20px;
  border-top-width: 2px;

}

footer {
  text-align: center;
  margin: 30px 0 -30px 0;
}

main {
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 10px 7px 20px #888;
  display: none;
  font-family: 'Poppins', Verdana, sans-serif;
  margin: 50px;
  padding: 50px;
}

#contactInfo {
  padding: 0;
  text-align: center;
}

#contactInfo li {
  display: inline;
  font-size: 20px;
  font-weight: bold;
}

#skillsList {
  padding: 10px;
  display: none;
  margin-top: 20px;
}

#institution1 {
  margin-bottom: -25px;
}

#degree {
  margin-bottom: -1px;
}

.button {
  display: block;
  border: none #919191;
  border-radius: 10px;
  box-shadow: 3px 7px 7px #888;
  margin: 0 auto 0 auto;
  font: 30px 'Poppins', Verdana, sans-serif;
  color: black;
  opacity: 0.65;
}

.skillsButton, .expButton, .eduButton {
  border: none #919191;
  border-radius: 10px;
  box-shadow: 3px 7px 7px #888;
  display: block;
  margin: 0 auto 0 auto;
  font: 25px 'Poppins', Verdana, sans-serif;
  color: black;
  opacity: 0.65;
}

.experience {
  display: none;
  margin-top: 30px;
}

.jobTitle {
  font-style: italic;
  margin: 0 0 -25px 4px;
}

.dateRange {
  font-style: italic;
  margin-bottom: -10px;
  margin-left: 4px;
}

.education {
  display: none;
  margin-top: 30px;
}
